ul {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  list-style-type: none;
  max-width: 1128px;
  margin: 0 auto;
}

.gallery-image {
  transition: transform 100ms ease-in-out;
}
.gallery-image:hover {
  transform: scale(1.03);
}
